﻿@model Envolti.Test.Web.Models.EstatisticaModel
@{
    ViewData["Title"] = "Estatisticas";
}

<h1>Estatisticas</h1>
<h2>Cliente</h2>
<table class="table">
    <thead>
        <tr>
            <th>Mês</th>
            <th>Cliente</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EstatisticasCliente)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
<h2>Fornecedor</h2>
<table class="table">
    <thead>
        <tr>
            <th>Mês</th>
            <th>Fornecedor</th>
            <th>Valor Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EstatisticasFornecedor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
            </tr>
        }
    </tbody>
</table>