﻿@model Envolti.Test.Web.Models.FiltrosRelatorioModel
@{
    ViewData["Title"] = "Relatorio";
}
@Html.AntiForgeryToken()
<h1>Relatorio</h1>

<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DataInicial" class="control-label"></label>
            <input type="date" asp-for="DataInicial" class="form-control in-dataInicial" />
            <span asp-validation-for="DataInicial" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="DataFinal" class="control-label"></label>
            <input type="date" asp-for="DataFinal" class="form-control in-dataFinal" />
            <span asp-validation-for="DataFinal" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Cidade" class="control-label"></label>
            <input asp-for="Cidade" class="form-control in-cidade" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Estado" class="control-label"></label>
            <input asp-for="Estado" class="form-control in-estado" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="Bairro" class="control-label"></label>
            <input asp-for="Bairro" class="form-control in-bairro" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Cliente" class="control-label"></label>
            <input asp-for="Cliente" class="form-control in-cliente" />
            <span asp-validation-for="Cliente" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="TipoServico" class="control-label"></label>
            <input asp-for="TipoServico" class="form-control in-tipoServico" />
            <span asp-validation-for="TipoServico" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ValorMinimo" class="control-label"></label>
            <input type="number" asp-for="ValorMinimo" class="form-control in-valorMinimo" />
            <span asp-validation-for="ValorMinimo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ValorMaximo" class="control-label"></label>
            <input type="number" asp-for="ValorMaximo" class="form-control in-valorMaximo" />
            <span asp-validation-for="ValorMaximo" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="button" value="Filtrar" class="btn btn-primary btn_filtrar" />
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Valor</th>
            <th>Tipo de Servico</th>
            <th>Data de Atendimento</th>
        </tr>
    </thead>
    <tbody class="data">
        <tr class="item hide">
            <td class="cliente"></td>
            <td class="bairro"></td>
            <td class="cidade"></td>
            <td class="estado"></td>
            <td class="tipo-servico"></td>
            <td class="valor"></td>
            <td class="data-atendimento"></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    

    var filtrar = function _filtrar() {
        var filters = {
            dataInicial: $(".in-dataInicial").val(),
            dataFinal: $(".in-dataFinal").val(),
            cliente: $(".in-cliente").val(),
            cidade: $(".in-cidade").val(),
            estado: $(".in-estado").val(),
            bairro: $(".in-bairro").val(),
            tipoServico: $(".in-tipoServico").val(),
            valorMinimo: $(".in-valorMinimo").val(),
            valorMaximo: $(".in-valorMaximo").val()
        };
        console.log(filters);
        $.ajax({
            url: '/ServicosPrestados/FiltrarRelatorio',
            type: 'POST',
            data: filters,
            headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        }).done(function _done(result) {
            $(".item").not(".hide").remove();
            var last = $(".item");
            result.forEach(function (item) {
                var row = last.clone();
                row.removeClass("hide");
                row.find(".cliente").append(item.cliente);
                row.find(".bairro").append(item.bairro);
                row.find(".cidade").append(item.cidade);
                row.find(".estado").append(item.estado);
                row.find(".tipo-servico").append(item.tipoServico);
                row.find(".valor").append(item.valor);
                row.find(".data-atendimento").append(item.dataAtendimento);
                last.after(row);
                console.log(item);
            })
        });
    }

    $(".btn_filtrar").on("click", filtrar);

</script>